<div id='container' ng-controller="ShortenController">
  <!-- Your code here -->
  <div class="navigation">
    <ul>
      <li><a href="/">All Links</a></li>
      <li><a href="#/shorten">Shorten</a></li>
    </ul>
  </div>
  <form name="shortenForm">
    <input type="url" name="shortenField" ng-model="link" required>
    <span ng-show="shortenForm.shortenField.$error.required">
      Required!</span>
    <span ng-show="shortenForm.shortenField.$error.url">
      Not valid url!</span>
    <button ng-click="shortenLink(link); link=''">Shorten</button>
  </form>
  <div class="link">
    <img src='/assets/redirect_icon.png'/>
    <div class='info'>
      <div class='visits'><span class='count'>{{submittedLink.visits}}</span>Visits</div>
      <div class='title'>{{submittedLink.title}}</div>
      <div class='original'>{{submittedLink.url}}</div>
      <a href='{{base_url}}/{{code}}'>{{submittedLink.base_url}}/{{submittedLink.code}}</a>
    </div>
  </div>
</div>
